<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/layout.css">
    <link rel="stylesheet" href="../static/css/booklist.css">
    
    <title>책 리스트</title>
</head>
<body>
    <header>
        <div class="header_nav_container">
            <h1>
                <a href="#">
                    <img id="main_logo" src="../static/images/index/logo.png" alt="제주특별자치도 공공도서관">
                </a>
            </h1>
            <!-- 네비게이션 -->
            <div class="not_all_menu">
                <div class="back_btn">
                    닫기
                </div>
                <nav>
                    <div class="nav_title nav1">
                        <h3>
                            <a href="#">자료검색</a>
                        </h3>
                        <!-- 하위 nav -->
                        <div class="depth_nav">
                            <ul>
                                <li><a href="#">자료검색</a></li>
                                <li><a href="#">희망도서 신청</a></li>
                                <li><a href="#">희망도서 바로대출</a></li>
                                <li><a href="#">대출조회</a></li>
                                <li><a href="#">책두레</a></li>
                                <li><a href="#">신간도서</a></li>
                                <li><a href="#">추천도서</a></li>
                                <li><a href="#">(한라)AI도서추천</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="nav_title nav2">
                        <h3>
                            <a href="#">도서관이용</a>
                        </h3>
                        <!-- 하위 nav -->
                        <div class="depth_nav">
                            <ul>
                                <li><a href="#">도서관별 운영시간</a></li>
                                <li><a href="#">도서관별 휴관일</a></li>
                                <li><a href="#">도서관별 연락처</a></li>
                                <li><a href="#">전체도서관 위치</a></li>
                                <li><a href="#">전체 장서현황</a></li>
                                <li><a href="#">회원가입안내</a></li>
                                <li><a href="#">대출/반납안내</a></li>
                                <li><a href="#">타관반납서비스</a></li>
                                <li><a href="#">모바일 라이브러리 서비스</a></li>
                                <li><a href="#">책나래</a></li>
                                <li><a href="#">책바다</a></li>
                                <li><a href="#">자료납본제출안내</a></li>
                                <li><a href="#">스마트도서관안내</a></li>
                                <li><a href="#">스마트K도서관</a></li>
                                <li><a href="#">도서관 이용 약관</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="nav_title nav3">
                        <h3>
                            <a href="#">행사/프로그램</a>
                        </h3>
                        <div class="depth_nav">
                            <ul>
                                <li><a href="#">도서관 프로그램 신청</a></li>
                                <li><a href="#">행사갤러리</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="nav_title nav4">
                        <h3>
                            <a href="#">열린공간</a>
                        </h3>
                        <!-- 하위 nav -->
                        <div class="depth_nav">
                            <ul>
                                <li><a href="#">새소식</a></li>
                                <li><a href="#">보도자료</a></li>
                                <li><a href="#">자주하는질문</a></li>
                                <li><a href="#">도서관 바란다</a></li>
                                <li><a href="#">업무계획</a></li>
                                <li><a href="#">자료실</a></li>
                                <li><a href="#">자원봉사안내</a></li>
                                <li><a href="#">2023서귀포시민의책 추천</a></li>
                                <li><a href="#">칭찬합시다</a></li>
                                <li><a href="#">분실물 찾기</a></li>
                                <li><a href="#">프로그램 강사모집</a></li>
                                <li><a href="#">카드뉴스</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="nav_title nav5">
                        <h3>
                            <a href="#">도서관소개</a>
                        </h3>
                        <!-- 하위 nav -->
                        <div class="depth_nav">
                            <ul>
                                <li><a href="#">한라도서관</a></li>
                                <li><a href="#">우당도서관</a></li>
                                <li><a href="#">탐라도서관</a></li>
                                <li><a href="#">제주기적의도서관</a></li>
                                <li><a href="#">애월도서관</a></li>
                                <li><a href="#">조천읍도서관</a></li>
                                <li><a href="#">한경도서관</a></li>
                                <li><a href="#">삼매봉도서관</a></li>
                                <li><a href="#">중앙도서관</a></li>
                                <li><a href="#">동부도서관</a></li>
                                <li><a href="#">서부도서관</a></li>
                                <li><a href="#">서귀포기적의도서관</a></li>
                                <li><a href="#">성산일출도서관</a></li>
                                <li><a href="#">안덕산방도서관</a></li>
                                <li><a href="#">표선도서관</a></li>
                                <li><a href="#">행정서비스현장</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="nav_title nav6">
                        <h3>
                            <a href="#">나만의 도서관</a>
                        </h3>
                        <!-- 하위 nav -->
                        <div class="depth_nav">
                            <ul>
                                <li><a href="#">대출회원 정보</a></li>
                                <li><a href="#">대출조회</a></li>
                                <li><a href="#">희망도서 신청</a></li>
                                <li><a href="#">대출예약현황</a></li>
                                <li><a href="#">타관대출현황</a></li>
                                <li><a href="#">관심도서</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <img class="side_menu_btn" src="../static/images/icon/menu.png" alt="사이드 메뉴">
        </div>
        <!-- search -->
        <div class="search">
            <div class="search_container">
                <div class="search_info_container search_box">
                    <img src="../static/images/index/img.png" alt="책 사진">
                    <h3>
                        책과 문화를 즐기는
                        <br>
                        <strong>제주특별자치도 공공도서관</strong>
                    </h3>
                    <p>
                        제주특별자치도 공공도서관에 오신 것을 환영합니다.
                        <br>
                        책과 문화를 함께 즐기세요!
                    </p>
                </div>
                <div class="search_input_container search_box">
                    <img src="../static/images/index/sch_img.png" alt="책 사진">
                    <h3>
                        원하시는
                        <br>
                        <strong>도서명을 검색하세요</strong>
                    </h3>
                    <form action="#">
                        <input type="text" id="search">
                        <button id="search_sumit_btn">
                            <img src="../static/images/icon/magnifying-glass.png" alt="검색하기">
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- quick menu -->
        <div class="quick_menu">
            <a id="quick_con_bg1" href="#">
                <div id="quick_menu_bg1"></div>
                <p>도서관 <br> 이용안내</p>
            </a>
            <a id="quick_con_bg2" href="#">
                <div id="quick_menu_bg2"></div>
                <p>도서관 <br> 소개</p>
            </a>
            <button id="top_btn">
                TOP
            </button>
        </div>
    </header>
    <!-- main -->
    <main>
        <section class="section_main">
            <h3>책 리스트</h3>
            <p>HOME > 책 리스트</p>
            <hr>
            <div class="search_book_container">
                <div class="input_search_container">
                    <form action="">
                        <label for="book_search" class="hide_label">검색입력</label>
                        <input class="input_book" id="book_search" type="text" placeholder="찾고자 하는 도서를 검색하세요!">
                        <button class="search_btn">
                            <img src="../static/images/icon/magnifying-glass.png" alt="검색하기">
                        </button>
                    </form>
                </div>
            </div>
            <!-- 북 리스트 -->
            <div class="book_list_container"> 
                <!-- 책 리스트 아이템 컴포넌트 시작 -->
                <!-- 
                    <div class="book_item_container">
                        <div class="book_img_container">
                            <a href="[디테일 정보 페이지 url]">                               <------ href에 해당 책 디테일 정보 페이지 url 넣어주세요.
                                <img src="[책 이미지 url]" alt="책 커버">                    <----- src에 해당 책 image url 넣어주세요.
                            </a>
                        </div>
                        <div class="book_contents_container">
                            <a href="[디테일 정보 페이지 url]">                               <------ href에 해당 책 디테일 정보 페이지 url 넣어주세요.
                                <p>[책 제목]</p>                                           <--- 제목 넣어주세요.
                            </a>
                            <ul>
                                <li>
                                    <strong>저자</strong>
                                    <span>[저자 넣어주세요.]</span>                           <----- 저자 넣어주세요.
                                </li>
                                <li>
                                    <strong>출판정보</strong>
                                    <span>[출판정보 넣어주세요.]</span>                                  <-----출판정보 넣어주세요.
                                </li>
                                <li>
                                    <strong>ISBN</strong>
                                    <span>[ISBN 넣어주세요.]</span>                                   <----- ISBN 넣어주세요.
                                </li>
                                <li>
                                    <strong>분류</strong>
                                    <span>[분류 넣어주세요.]</span>                             <----- 분류 넣어주세요.
                                </li>
                            </ul>
                            <div class="item_count_label">
                                소장
                                <strong class="[posible_color]">[숫자]권</strong>                      <----- 소장 숫자 넣어주세요. 숫자가 0이 아니면 Class에 posible_color 넣어주세요. 0이면 imposible_color 넣어주세요.
                            </div>
                            <div class="item_count_label">
                                대출가능
                                <strong class="[imposible_color]">[숫자]권</strong>                           <----- 대출가능 숫자 넣어주세요. 숫자가 0이 아니면 Class에 posible_color 넣어주세요. 0이면 imposible_color 넣어주세요.
                            </div>
                            <div class="item_count_label">
                                <a href="#">관심도서</a> 
                            </div>
                        </div>
                    </div> 
                -->
                <!-- 책 리스트 아이템 컴포넌트 끝 -->
                <div class="book_item_container">
                    <div class="book_img_container">
                        <a href="#"><img src="../static/images/testbook.jpeg" alt="책 커버"></a>
                    </div>
                    <div class="book_contents_container">
                        <a href="#"><p>[총류] (한 권으로 읽는) 컴퓨터 구조와 프로그래밍 : 더 나은 소프트웨어 개발을 위한 하드웨어, 자료구조, 필수 알고리즘 등 프로그래머의 비밀 노트</p></a>
                        <ul>
                            <li>
                                <strong>저자</strong>
                                <span>조너선 스타인하트 지음;오현석 옮김</span>
                            </li>
                            <li>
                                <strong>출판정보</strong>
                                <span>책만,2021,인쇄자료(책자형)</span>
                            </li>
                            <li>
                                <strong>ISBN</strong>
                                <span>9791189909284</span>
                            </li>
                            <li>
                                <strong>분류</strong>
                                <span>[L문004.22-스831ㅋ] 총류>총류>전산학</span>
                            </li>
                        </ul>
                        <div class="item_count_label">
                            소장
                            <strong class="posible_color">1권</strong>
                        </div>
                        <div class="item_count_label">
                            대출가능
                            <strong class="imposible_color">50권</strong>
                        </div>
                        <div class="item_count_label">
                            <a href="#">관심도서</a> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section_nav">
            <div class="section_nav_container">
                <h2>자료검색</h2>
                <ul>
                    <li class="selected_nav">
                        <h3>자료검색</h3>
                        <ul>
                            <li><a href="#">간략검색</a></li>
                            <li><a href="#">상세검색</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <h3>희망도서 신청</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>희망도서 바로대출</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>대출조회</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>책두레</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>신간도서</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>추천도서</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>(한라) AI도서추천</h3>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </main>
    <!-- 푸터 -->
    <footer>
        <div class="footer_top">
            <div class="footer_top_container">
                <ul class="footer_link_container">
                   <li><a href="#">책바다</a></li> 
                   <li><a href="#">책나래</a></li> 
                   <li><a href="#">책읽는서귀포시</a></li> 
                   <li><a href="#">책이음서비스</a></li> 
                   <li><a href="#">책섬,제주</a></li> 
                </ul>
                <div class="site_list">
                    <span>관련사이트</span>
                    <div class="icon_a">&uarr;</div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="footer_phone">
                <h3>도서관 연락처</h3>
                <div class="phone_item">
                    <h4>한라도서관</h4>
                    <span>064-710-8666</span>
                </div>
                <div class="phone_item">
                    <h4>조천읍도서관</h4>
                    <span>064-728-1505</span>
                </div>
                <div class="phone_item">
                    <h4>서부도서관</h4>
                    <span>064-739-9862</span>
                </div>
                <div class="phone_item">
                    <h4>우당도서관</h4>
                    <span>064-728-1503</span>
                </div>
                <div class="phone_item">
                    <h4>한경도서관</h4>
                    <span>064-728-1508</span>
                </div>
                <div class="phone_item">
                    <h4>서귀포기적의도서관</h4>
                    <span>064-732-3251</span>
                </div>
                <div class="phone_item">
                    <h4>탐라도서관</h4>
                    <span>064-728-1506</span>
                </div>
                <div class="phone_item">
                    <h4>삼매봉도서관</h4>
                    <span>064-733-1524</span>
                </div>
                <div class="phone_item">
                    <h4>성산일출도서관</h4>
                    <span>064-783-4227</span>
                </div>
                <div class="phone_item">
                    <h4>제주시기적의도서관</h4>
                    <span>064-728-1504</span>
                </div>
                <div class="phone_item">
                    <h4>중앙도서관</h4>
                    <span>064-739-1516</span>
                </div>
                <div class="phone_item">
                    <h4>안덕산방도서관</h4>
                    <span>064-794-2489</span>
                </div>
                <div class="phone_item">
                    <h4>애월도서관</h4>
                    <span>064-728-1507</span>
                </div>
                <div class="phone_item">
                    <h4>동부도서관</h4>
                    <span>064-767-1524</span>
                </div>
                <div class="phone_item">
                    <h4>표선도서관</h4>
                    <span>064-787-5488</span>
                </div>
            </div>
            <div class="footer_address">
                <a href="#">개인정보처리방침</a>
                <br>
                <a href="#">한라도서관 이용규정</a>
                <address>Copyright©제주특별자치도 공공도서관. <br> All rights reserced</address>
            </div>
        </div>
    </footer>
    <script src="../static/script/index.js"></script>
</body>
</html>
