<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>로그인 - 제주특별자치도</title>
</head>
<body>
    <header>
        <!-- 메뉴 -->
        <div class="top_menu">
            <div class="top_menu_container">
                <p class="covid_link">
                    <a href="#">
                        <img src="../static/images/login/covid.svg" alt="" height="20px">
                        코로나 상황실
                        <img src="../static/images/login/icon/arr.svg" alt="" height="10px">
                    </a>
                </p>
                <p><a href="#">조직도</a></p>
                <p><a href="#">청사안내</a></p>
                <p><a href="#">예산</a></p>
                <p><a href="#">제주 통계</a></p>
                <p><a href="#">제주ON</a></p>
                <p><a href="#">맞춤알림</a></p>
            </div>
        </div>
        <ul class="middle_menu">
            <li><a href="#">제주날씨</a></li>
            <li><a href="#">제주특별자치도의회</a></li>
            <li><a href="#">제주시</a></li>
            <li><a href="#">서귀포시</a></li>
            <li><a href="#">비회원 로그인</a></li>
            <li><a href="#">로그인</a></li>
            <li><a href="#">Language</a></li>
        </ul>
        <div class="bottom_menu">
            <a href="#">
                <img src="../static/images/login/logo.svg" alt="" width="190px" height="23px">
            </a>
            <nav>
                <ul>
                    <li>
                        <h3>
                            <a href="#">도정뉴스</a>
                        </h3>
                        <div class="depth_nav">메뉴1</div>
                    </li>
                    <li>
                        <h3>
                            <a href="#">신문고</a>
                        </h3>
                        <div class="depth_nav">메뉴2</div>
                    </li>
                    <li>
                        <h3>
                            <a href="#">소통/참여/인권</a>
                        </h3>
                        <div class="depth_nav">메뉴3</div>
                    </li>
                    <li>
                        <h3>
                            <a href="#">정보공개</a>
                        </h3>
                        <div class="depth_nav">메뉴4</div>
                    </li>
                    <li>
                        <h3>
                            <a href="#">제주소개</a>
                        </h3>
                        <div class="depth_nav">메뉴5</div>
                    </li>
                    <li>
                        <h3>
                            <a href="#">일자리/중소기업</a>
                        </h3>
                        <div class="depth_nav">메뉴6</div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- search -->
    <div class="search_banner">
        <div class="search_container">
            <form action="#">
                <input type="text" id="search">
                <button id="search_sumit_btn">
                    <img src="../static/images/icon/magnifying-glass.png" alt="검색하기" width="25px" height="25px">
                </button>
            </form>
        </div>
    </div>
    <main>
        <section class="main_title">
            <h2>마이페이지</h2>
        </section>
        <section class="main_contents">
            <h2>로그인</h2>
            <ul class="breadcrumb">
                <li><a href="#">HOME</a></li>
                <li><a class="breadcrumb_item" href="#">마이페이지</a></li>
                <li><a class="breadcrumb_item" href="#">로그인</a></li>
            </ul>
            <h3>제주특별자치도 통합 로그인</h3>
            <img class="center" src="../static/images/login/top_login_img.png" alt="" width="182px" height="160px">
            <div class="text_center">
                <p class="text_primary"><strong>제주특별자치도의 홈페이지 이용이 편리해졌습니다.</strong></p>
                <p class="text_height">
                    제주특별자치도에서는 회원정보보호를 강화하고 <span class="text_success">제주특별자치도 홈페이지에서 운영 중인 행정시, 포탈홈페이지</span>를
                    <br>
                    하나의 <span class="text_success">통합 아이디</span>로 간편하게 이용할 수 있는 단일로그인 서비스를 시행합니다.
                </p>
            </div>
            <div class="green_box">
                <p>
                    제주특별자치도 로그인 페이지 입니다. 회원이 아닌 분은 아래의 [회원가입] 버튼을 누르세요.
                    <br>
                    휴대폰 본인인증 / 간편인증 / 아이핀 인증을 통해 본인 확인 과정을 거쳐 회원으로 가입 할 수 있습니다.
                </p>
            </div>
        </section>
    </main>
    <footer>

    </footer>
    <script src="../static/script/login.js"></script>
</body>
</html>