

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/layout.css">
    <link rel="stylesheet" href="../static/css/signup.css">
    
    <title>sns추가정보 - 제주특별자치도 공공도서관</title>
</head>
<body>
    <header>
        <div class="header_nav_container">
            <h1>
                <a href="/template/index.html">
                    <img id="main_logo" src="../static/images/index/logo.png" alt="제주특별자치도 공공도서관">
                </a>
            </h1>
            <!-- 네비게이션 -->
            <div class="not_all_menu">
                <div class="back_btn">
                    닫기
                </div>
                <nav>
                    <div class="nav_title nav1">
                        <h3>
                            <a href="#">자료검색</a>
                        </h3>
                        <!-- 하위 nav -->
                        <div class="depth_nav">
                            <ul>
                                <li><a href="#">자료검색</a></li>
                                <li><a href="#">희망도서 신청</a></li>
                                <li><a href="#">희망도서 바로대출</a></li>
                                <li><a href="#">대출조회</a></li>
                                <li><a href="#">책두레</a></li>
                                <li><a href="#">신간도서</a></li>
                                <li><a href="#">추천도서</a></li>
                                <li><a href="#">(한라)AI도서추천</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="nav_title nav2">
                        <h3>
                            <a href="#">도서관이용</a>
                        </h3>
                        <!-- 하위 nav -->
                        <div class="depth_nav">
                            <ul>
                                <li><a href="#">도서관별 운영시간</a></li>
                                <li><a href="#">도서관별 휴관일</a></li>
                                <li><a href="#">도서관별 연락처</a></li>
                                <li><a href="#">전체도서관 위치</a></li>
                                <li><a href="#">전체 장서현황</a></li>
                                <li><a href="#">회원가입안내</a></li>
                                <li><a href="#">대출/반납안내</a></li>
                                <li><a href="#">타관반납서비스</a></li>
                                <li><a href="#">모바일 라이브러리 서비스</a></li>
                                <li><a href="#">책나래</a></li>
                                <li><a href="#">책바다</a></li>
                                <li><a href="#">자료납본제출안내</a></li>
                                <li><a href="#">스마트도서관안내</a></li>
                                <li><a href="#">스마트K도서관</a></li>
                                <li><a href="#">도서관 이용 약관</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="nav_title nav3">
                        <h3>
                            <a href="#">행사/프로그램</a>
                        </h3>
                        <div class="depth_nav">
                            <ul>
                                <li><a href="#">도서관 프로그램 신청</a></li>
                                <li><a href="#">행사갤러리</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="nav_title nav4">
                        <h3>
                            <a href="#">열린공간</a>
                        </h3>
                        <!-- 하위 nav -->
                        <div class="depth_nav">
                            <ul>
                                <li><a href="#">새소식</a></li>
                                <li><a href="#">보도자료</a></li>
                                <li><a href="#">자주하는질문</a></li>
                                <li><a href="#">도서관 바란다</a></li>
                                <li><a href="#">업무계획</a></li>
                                <li><a href="#">자료실</a></li>
                                <li><a href="#">자원봉사안내</a></li>
                                <li><a href="#">2023서귀포시민의책 추천</a></li>
                                <li><a href="#">칭찬합시다</a></li>
                                <li><a href="#">분실물 찾기</a></li>
                                <li><a href="#">프로그램 강사모집</a></li>
                                <li><a href="#">카드뉴스</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="nav_title nav5">
                        <h3>
                            <a href="#">도서관소개</a>
                        </h3>
                        <!-- 하위 nav -->
                        <div class="depth_nav">
                            <ul>
                                <li><a href="#">한라도서관</a></li>
                                <li><a href="#">우당도서관</a></li>
                                <li><a href="#">탐라도서관</a></li>
                                <li><a href="#">제주기적의도서관</a></li>
                                <li><a href="#">애월도서관</a></li>
                                <li><a href="#">조천읍도서관</a></li>
                                <li><a href="#">한경도서관</a></li>
                                <li><a href="#">삼매봉도서관</a></li>
                                <li><a href="#">중앙도서관</a></li>
                                <li><a href="#">동부도서관</a></li>
                                <li><a href="#">서부도서관</a></li>
                                <li><a href="#">서귀포기적의도서관</a></li>
                                <li><a href="#">성산일출도서관</a></li>
                                <li><a href="#">안덕산방도서관</a></li>
                                <li><a href="#">표선도서관</a></li>
                                <li><a href="#">행정서비스현장</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="nav_title nav6">
                        <h3>
                            <a href="#">나만의 도서관</a>
                        </h3>
                        <!-- 하위 nav -->
                        <div class="depth_nav">
                            <ul>
                                <li><a href="#">대출회원 정보</a></li>
                                <li><a href="#">대출조회</a></li>
                                <li><a href="#">희망도서 신청</a></li>
                                <li><a href="#">대출예약현황</a></li>
                                <li><a href="#">타관대출현황</a></li>
                                <li><a href="#">관심도서</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <img class="side_menu_btn" src="../static/images/icon/menu.png" alt="사이드 메뉴">
        </div>
        <!-- search -->
        <div class="search">
            <div class="search_container">
                <div class="search_info_container search_box">
                    <img src="../static/images/index/img.png" alt="책 사진">
                    <h3>
                        책과 문화를 즐기는
                        <br>
                        <strong>제주특별자치도 공공도서관</strong>
                    </h3>
                    <p>
                        제주특별자치도 공공도서관에 오신 것을 환영합니다.
                        <br>
                        책과 문화를 함께 즐기세요!
                    </p>
                </div>
                <div class="search_input_container search_box">
                    <img src="../static/images/index/sch_img.png" alt="책 사진">
                    <h3>
                        원하시는
                        <br>
                        <strong>도서명을 검색하세요</strong>
                    </h3>
                    <form action="#">
                        <input type="text" id="search">
                        <button id="search_sumit_btn">
                            <img src="../static/images/icon/magnifying-glass.png" alt="검색하기">
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- quick menu -->
        <div class="quick_menu">
            <a id="quick_con_bg1" href="#">
                <div id="quick_menu_bg1"></div>
                <p>도서관 <br> 이용안내</p>
            </a>
            <a id="quick_con_bg2" href="#">
                <div id="quick_menu_bg2"></div>
                <p>도서관 <br> 소개</p>
            </a>
            <button id="top_btn">
                TOP
            </button>
        </div>
    </header>
    <!-- main -->
    <main>
        <section class="main_title">
            <h2>마이페이지</h2>
        </section>
        <section class="main_contents">
            <h2>SNS 회원가입 추가정보</h2>
            <ul class="breadcrumb">
                <li><a href="#">HOME</a></li>
                <li><a class="breadcrumb_item" href="#">마이페이지</a></li>
                <li><a class="breadcrumb_item" href="#">SNS 회원가입 추가정보</a></li>
            </ul>
            <div class="sign_up">
                <form action="/signup" method="post" id="signup-form">
                    <!-- <div class="input_container">
                        <label for="id">
                            <p>아이디 :</p>
                            <input id="id" type="text" name="id" placeholder="아이디">
                            <span id="id_alert"></span>
                        </label>
                    </div> -->
                    <!-- <div class="input_container">
                        <label for="pw">
                            <p>비밀번호 :</p>
                            <input id="pw" type="password" name="pw" placeholder="비밀번호">
                            <span id="pw_alert"></span>
                        </label>
                    </div>
                    <div class="input_container">
                        <label for="confirm_pw">
                            <p>비밀번호 확인 :</p>
                            <input id="confirm_pw" type="password" name="pw" placeholder="비밀번호 확인">
                            <span id="confirm_pw_alert"></span>
                        </label>
                    </div> -->
                    <!-- <div class="input_container">
                        <label for="confirm_username">
                            <p>이름 :</p>
                            <input id="confirm_username" type="text" name="username" placeholder="이름">
                            <span id="confirm_username"></span>
                        </label>
                    </div> -->
                    <div class="input_container">
                        <label for="confirm_birth">
                            <p>생년월일 :</p>
                                <select class="box" id="birth_year">
                                    <option disabled selected>출생 연도</option>
                                </select>
                                <select class="box" id="birth_month">
                                    <option disabled selected>월</option>
                                </select>
                                <select class="box" id="birth_day">
                                    <option disabled selected>일</option>
                                </select>
                            <span id="confirm_birth"></span>
                        </label>
                    </div>
                    <div class="input_container">
                        <p>연락처 :</p>
                        <input id="tel_first" type="text" name="tel_first" placeholder="000">
                        <span>-</span>
                        <input id="tel_middle" type="text" name="tel_middle" placeholder="0000">
                        <span>-</span>
                        <input id="tel_last" type="text" name="tel_last" placeholder="0000">
                        <span id="confirm_tel"></span>
                    </div>
                    <!-- <div class="input_container">
                        <p>이메일 :</p>
                        <input id="email_first" type="text" name="email_first" placeholder="이메일">
                        <span>@</span>
                        <input id="email_last" type="text" name="email_last" placeholder="email.com">
                        <select name="select_email" id="select_email">
                            <option disabled selected>이메일</option>
                            <option value="naver.com">naver.com</option>
                            <option value="gmail.com">gmail.com</option>
                            <option value="daum.net">daum.net</option>
                            <option value="hanmail.net">hanmail.net</option>
                        </select>
                        <span id="confirm_tel"></span>
                    </div> -->
                    <div class="input_container">
                        <p>주소 :</p>
                        <input type="text" id="sample4_postcode" placeholder="우편번호">
                        <input type="button" id="search_post" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
                        <input type="text" id="sample4_roadAddress" placeholder="도로명주소">
                        <input type="text" id="sample4_jibunAddress" placeholder="지번주소">
                        <span id="guide" style="color:#999;display:none"></span><br>
                        <input type="text" id="sample4_detailAddress" placeholder="상세주소">
                        <input type="text" id="sample4_extraAddress" placeholder="참고항목">
                    </div>
                    <button id="submit">회원가입</button>
                </form>
            </div>
        </section>
        
    </main>
    <!-- 푸터 -->
    <footer>
        <div class="footer_top">
            <div class="footer_top_container">
                <ul class="footer_link_container">
                   <li><a href="#">책바다</a></li> 
                   <li><a href="#">책나래</a></li> 
                   <li><a href="#">책읽는서귀포시</a></li> 
                   <li><a href="#">책이음서비스</a></li> 
                   <li><a href="#">책섬,제주</a></li> 
                </ul>
                <div class="site_list">
                    <span>관련사이트</span>
                    <div class="icon_a">&uarr;</div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="footer_phone">
                <h3>도서관 연락처</h3>
                <div class="phone_item">
                    <h4>한라도서관</h4>
                    <span>064-710-8666</span>
                </div>
                <div class="phone_item">
                    <h4>조천읍도서관</h4>
                    <span>064-728-1505</span>
                </div>
                <div class="phone_item">
                    <h4>서부도서관</h4>
                    <span>064-739-9862</span>
                </div>
                <div class="phone_item">
                    <h4>우당도서관</h4>
                    <span>064-728-1503</span>
                </div>
                <div class="phone_item">
                    <h4>한경도서관</h4>
                    <span>064-728-1508</span>
                </div>
                <div class="phone_item">
                    <h4>서귀포기적의도서관</h4>
                    <span>064-732-3251</span>
                </div>
                <div class="phone_item">
                    <h4>탐라도서관</h4>
                    <span>064-728-1506</span>
                </div>
                <div class="phone_item">
                    <h4>삼매봉도서관</h4>
                    <span>064-733-1524</span>
                </div>
                <div class="phone_item">
                    <h4>성산일출도서관</h4>
                    <span>064-783-4227</span>
                </div>
                <div class="phone_item">
                    <h4>제주시기적의도서관</h4>
                    <span>064-728-1504</span>
                </div>
                <div class="phone_item">
                    <h4>중앙도서관</h4>
                    <span>064-739-1516</span>
                </div>
                <div class="phone_item">
                    <h4>안덕산방도서관</h4>
                    <span>064-794-2489</span>
                </div>
                <div class="phone_item">
                    <h4>애월도서관</h4>
                    <span>064-728-1507</span>
                </div>
                <div class="phone_item">
                    <h4>동부도서관</h4>
                    <span>064-767-1524</span>
                </div>
                <div class="phone_item">
                    <h4>표선도서관</h4>
                    <span>064-787-5488</span>
                </div>
            </div>
            <div class="footer_address">
                <a href="#">개인정보처리방침</a>
                <br>
                <a href="#">한라도서관 이용규정</a>
                <address>Copyright©제주특별자치도 공공도서관. <br> All rights reserced</address>
            </div>
        </div>
    </footer>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="../static/script/index.js"></script>
    <script src="../static/script/signadd.js"></script>
</body>
</html>